@charset "UTF-8";
h1 {
  font-size: 18px;
  color: red;
  font-family: "Microsoft New Tai Lue";
}
h2 {
  font-size: 16px;
  color: red;
  font-family: "Microsoft New Tai Lue";
}
h1:hover,
h2:hover {
  border: 1px solid red;
}
h1:hover {
  border: 1px solid #008000;
}
h2 {
  border: 1px solid #000000;
}
h1 {
  border: 1px solid #ff0000;
}
h2 {
  border: 1px solid #ffff00;
}
h1 {
  font-size: 50px;
  background: #ff0000;
}
